/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
*{
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}
.container {
    max-width: 1640px;
    padding: 10px 20px;
    margin: 0 auto; 
    overflow: auto;
}
h1 {
    font-size: 2.5em;
    font-weight: 700;
    color: #ffffff;
    margin-top: 80px;
}
h2 {
    text-align: center;
    color: #000;
}
h3 {
    font-size: 1.5em;
    text-align: center;
    color: #2e2d2c;
    font-weight: 700;
}
h3:after {
    content: ' ';
    display: block;
    border: 1px solid #5d77ba;
    width: 45px;
    margin: 15px auto;
}
h4{
    color: #575756;
}
p{
    color: #2e2d2c;;
}
a {
    text-decoration: none;
}
a:hover {
    cursor: pointer;
}
/**********Header**********/
header {
    padding: 0 0 0 0;
}
.header-logo {
    display: inline-block;
}
nav {
    display: none; /**/
    /*display: table;*/
    position: fixed;
    top: 45px;
    left: 0;
    height: 100%;
    width: 100%;
    color: #2e2d2c;
    background: #f3f5f9;
    z-index: 1;
}
nav a,
.right-nav-login a {
    font-size: 1.375em;
    line-height: 70px;
    padding: 5px 10px;
    color: #2e2d2c;
    font-weight: 700;
}
nav a:hover {
    color: #f1592d;
}
.nav-help {
    position: relative;
    background-color: #fff;
    margin: -10px -20px 0 -20px;
    padding: 10px 20px 10px 20px;
}
.right-nav-login li img {
    position: absolute;
    top: -30px;
    right: 70px;
}
.burger{
    width: 35px;
    height: 25px;
    padding: 4px 0;
    float: right; 
    outline: none;
}
.icon-search {
    float:right;
    margin-right: 18px;
}
.burger span {
    width: 100%;
    height: 2px;
    background-color: #f05a28;
    display: block;
    float: right;
    margin-top: 4px;
}
.burger span:nth-child(3){
    width: 70%;
}
/**********Header end**********/

/**********Hero**********/
.hero {
    background: url(../img/background.jpg) no-repeat center center;
    position: relative;
    z-index: -1;
}

.btn, .btn-2 {
    width: 155px;
    height: 50px;
    color: #fff;
    margin-top: 50px;
}
.btn, .btn-3 {
    background-color: #f05a28;
    margin-right: 20px;
}
.btn:hover, .btn-3:hover {
    background-color: #c54b1b;
}
.btn-3 {
    width: 176px;
    color: #fff;
}
.btn-2 {
    border: 2px solid #fff;
}
.btn-2:hover {
    background: #fff; 
    color: #f05a28;
}
.btn-2 img {
    padding-right: 10px;
}
.head-text {
    color: #fff;
    max-width: 430px;
}
.left-quote {
    width: 62px;
    height: 53px;
    position: absolute;
    left: -10px;
    top: 35px;
    opacity: 0.4;
    z-index: -1;
}
.user-experience {
    margin: 150px 0 50px 0;
    text-align: right;
    max-width: 220px; 
    float: right;
    position:relative;
}
.user-experience .user img {
    border-radius: 50%;
    float: right;
    margin-top: 5px;
    width: 40px;
}
.user-experience .user-right-side {
    float: left;
    margin-left: 75px;
}
.user-experience .user-right-side p {
    margin: 0;
}
.user-experience .user-right-side p:first-of-type {
    font-weight: 700;
}
/**********Hero end**********/

/**********Explore**********/
.explore .btn {
    display: none;
}
.explore h2 {
    color: #2f797a;
    margin-top: -121px;
}
.explore p:first-of-type {
    font-size: 75px;
    color: rgba(0, 0, 0, 0.2);
    font-weight: 700;
    text-align: center;
}
hr {
    border-top: 5px dotted #f1eaeb;
}
/**********Explore end**********/

/**********Tour**********/
.tour {
    background-color: #7cc9c2;
    z-index: -1;
    position:relative;
    overflow: hidden;
}
.tour h2 {
    color: #fff;
    margin: 40px 0 40px 0;
}
.tour-informations li {
    background-color: #fff;
    padding: 20px 0;
    border-radius: 4px;
    margin-top: 20px;
    overflow: hidden;
}
.tour-informations .icon-bus {
    width: 41px;
}
.tour-informations .left-side {
    padding: 0 10px;
}
.tour-informations .right-side p { 
    color: #f5c41f;
    font-weight: 700;
    font-size: 1.4em;
}
.tour button {
    width: 78px;
    height: 27px;
    background-color: #87c5ec;
    color: #fff;
    font-weight: 500;
}
.tour .img-people {
    display: none;
}
/**********Tour end**********/

/**********Services**********/
.services-main {
    padding: 0;
}
.services {
    background-color: #f7b74f;
}
.services h2 {
    color: #fff;
}
.services p {
    color: #fff;
}
.discover h2 {
    color: #2e2d2c;
}
.services button {
    width: 144px;
    height: 49px;
    background-color: #f05a28;
    color: #fff;
}
.services button:hover {
    background-color: #c54b1b;
}
/**********Services end**********/

/**********Discover**********/
.discover {
    background-color: #f7f7f7;
}

.accordion-1, 
.accordion-2, 
.accordion-3, 
.accordion-4, 
.accordion-5 {
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    padding: 30px;
    margin: 10px auto;
    width: 71%;
    transition: 0.4s;
    display: flex;
    justify-content: end;
}
    .accordion-1 {
        background: url(../img/cont-1.jpg) no-repeat;
    }
    .accordion-2 {
        background: url(../img/cont-2.jpg) no-repeat;
    }
    .accordion-3 {
        background: url(../img/cont-3.jpg) no-repeat;
    }
    .accordion-4 {
        background: url(../img/cont-4.jpg) no-repeat;
    }
    .accordion-5 {
        background: url(../img/cont-5.jpg) no-repeat;
    }
  .accordion-1:after, 
  .accordion-2:after, 
  .accordion-3:after, 
  .accordion-4:after,
  .accordion-5:after {
    content: url(../img/arrow-down.png); /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
    padding: 0 0 0 20px;
  }
  
  .discover button .active:after {
    content: url(../img/arrow-up.png); /* Unicode character for "minus" sign (-) */
  }

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  /*.active, 
  .accordion-1:hover, 
  .accordion-2:hover, 
  .accordion-3:hover, 
  .accordion-4:hover, 
  .accordion-5:hover {
    background-color: #ccc;
  }*/
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  } 
  .discover .panel p {
      text-align: center;
      padding: 30px 0;
  }
/**********Discover end**********/
.about {
    padding-bottom: 50px;
}
.about h2,
h3 {
    color: #000;
    text-align: left;
}
.about h2 {
    font-size: 1.8em;
    font-weight: 500;
}
.about h3 {
    font-size: 1.4em;
    font-weight: 500;
}
.about h3:after {
    display: none;
}


/**********Contact end**********/
legend {
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 30px;

}
input {
    border: 1px solid #a8a8a7;
    border-radius: 5px;
    width: 100%;
    padding: 20px 15px;
    margin-bottom: 20px;
}
.checkbox-wrap {
    position: relative;
    
}

/**********Contact end**********/

/**********Footer**********/
footer {
    background-color: #2f797a;
}
footer ul {
    display: inline-flex;
    margin: 0 auto;
}
footer ul li img{
    padding: 10px;
}
footer p {
    color: #fff;
    font-size: 12px;
    text-align: center;
}
/**********Footer end**********/

/**********Slick slider**********/
.slick-list .slick-track {
    width: 855px!important;
}
.slick-list .slick-track .slick-slide {
    width: 240px!important;
}
.slick-list {
    padding:0 20% 0 0!important;
}
.slick-initialized .slick-slide div  {
    width: 229px;
    height: 348px;
    overflow: hidden;
    border-radius: 5px;
}
.slick-next {
    right: 5px;
}
[dir='rtl'] .slick-next {
    right: auto;
    left: -25px;
}
.slick-next:before {
    content: url(../img/arrow-right.png);
}
[dir='rtl'] .slick-next:before {
    content: url(../img/arrow-left.png);
}
.slick-prev {
    left: 5px;
    z-index: 1;
}
.slick-prev:before {
    content: url(../img/arrow-left.png);
}
[dir='rtl'] .slick-prev:before {
    content: url(../img/arrow-right.png);
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
.unstyle-list {
    list-style: none;
    padding: 0;
}

.text-center {
    text-align: center;
}
/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

button {
    background: transparent;
    border: none;
    border-radius: 5px;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 768px) {
    /**********Hero**********/
    .left-quote {
        width: 87px;
        height: 73px;
        top: 0;
        left: -50px;
    }
    .user-experience {
        max-width: 400px;
        text-align: left;
    }
    .user-experience .user img {
        margin-right: 25px;
        width: 50px;
    }
    .user-experience .user-left-side {
        float: left;
        width: 70%;
    }
    .user-experience .user-right-side {
        transform: rotate(270deg);
        position: absolute;
        bottom: 15px;
        left: 230px;
    }
    /**********Explore**********/
    .explore .left-side {
        width: 50%;
        margin: 20px 20px 0 0;
    }
    .explore .btn {
        display: block;
    }
    .explore .left-side p{
        text-align: left;
    }
    .explore .left-side h2{
        text-align: left;
    }
    .explore p:first-of-type {
        text-align: left;
    }
    /**********Slick slider**********/
    .slick-list {
        padding: 0 0 0 0 !important;
    }
    .slick-list .slick-track .slick-slide {
        width: 290px!important;
    }
    .slick-slider {
        top: -400px;
        right: -380px;
        margin: 30px;
    }
    .slick-initialized .slick-slide div  {
        width: 100%;
        height: 383px;
    }
    .slick-list .slick-track {
        width: 1200px!important;
    }
    /**********Tour**********/
    .tour-informations .left-side {
        width: 80.33%;
        float: left;
    }
    .tour-informations .left-side img {
        float: left;
        margin: 20px 40px 0 40px;
    }
    .tour-informations .left-side h4 {
        text-align: left;
        margin: 15px 0 0 0;
    }
    .tour-informations .booking-tab .left-side h4{
        font-size: 25px;
    }
    .tour-informations .left-side p {
        text-align: left;
        margin: 5px 0 10px 0;
    }
    .booking-tab .right-side {
        width: 20.33%;
        float: right;
        margin-top: -100px;
    }
    .tour-informations hr {
        transform: rotate(90deg);
        margin-left: -130px;
    }
    .tour-informations .booking-tab hr {
        border-top: 10px dotted #f1eaeb;
        margin-left: -150px;
    }
    .tour button {
        float: right;
        margin: 0 30px 0 0;
    }
    .tour button:hover {
        background-color: #4a79bc;
    }
    .tour-informations li:nth-child(n+2){
        max-width: 85%;
        font-size: 14px;
    }
    .tour .img-people {
        display: block;
        position: absolute;
        top: 285px;
        margin-left: 288px;
        z-index: -1;
    }
    /**********Services**********/
    .services {
        border-radius: 5px;
        margin: 0 50px;
    }
    .services button {
        margin-bottom: 50px;
    }
    .discover {
        margin: 0 20px;
        border-radius: 5px;
    }
    /**********Contact**********/
    .contact {
        background-color: #f7f7f7;
    }
    form {
        margin: 0 auto;
        max-width: 500px;
    }
    /**********Footer**********/
    footer p {
        float: left;
    }
    footer ul {
        float: right;
    }
}
   
@media only screen and (min-width: 1024px) {
   
    /**********Tour**********/
    .tour-informations li:nth-child(n+2){
        max-width: 70%;
    }
    /**********Slick slider**********/
    .slick-slider {
        top: -370px;
        right: -240px;
        margin: 30px;
    }  
    /**********Tour**********/
    .tour {
        margin-bottom: 35px;
    }
    .booking-tab {
        width: 90%;
    }
    .tour .img-people {
        margin-left: 487px;
    }
    /**********Services**********/
    .services-main {
        position: relative;
        max-height: 1400px;
    }
    .services {
        margin: 100px 30px;
    }
    .services div, 
    .discover {
        width: 45%;
    }
    .discover {
        position: absolute;
        top: 130px;
        left: 505px;
    }
}

@media only screen and (min-width: 1200px) {
    nav {
        display: block;
        position: absolute;
        top: 0;
        left: 4%;
        width: 950px;
        height: auto;
        background: #fff;
      }
    nav ul {
        position: absolute;
        top: -13px;
        left: 220px;
    }
    nav li {
        float: left;
    }
    nav a,
    .right-nav-login a {
        font-size: 0.8em;
    }
    nav a:hover,
    nav .active,
    .right-nav-login a:hover {
        color: #2e2d2c;
        background-color: #f3f5f9;
        transition: 0.4s;
        border-bottom: 3px solid rgba(240, 90, 40);
        padding: 31px 10px 31px 10px;
        margin-right: 10px;
    }
    .nav-help {
        position: relative;
        height: 80px;
        top: -10px;
        width: 950px;
        margin: 0 auto;
    }
    .right-nav-login {
        display: inline-flex;
        margin: 0 0 0 235px;
    }
    .right-nav-login li img {
        margin: 26px 10px 0 0;
    }
    .header-logo {
        position: absolute;
        top: 20px;
        left: 20px;
    }
    .icon-search {
        margin: 17px 210px 0 0;
    }
    .burger {
        display:none;
    }  
    /**********Services**********/
    .services div {
        width: 40%;
    }
    .discover {
        width: 50%;
    }
}



/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
